<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantica</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Cantica</h1>
            <h4>online direktář pro varhaníky</h4>
            <div class="date-navigation"></div>
            <div class="date-picker-form" class="date-navigation">
                <a href="?date={{ previous_date|date:'Y-m-d' }}" class="calendar-arrow"><button>&#8592;</button></a>
                <a href="?date={{ today|date:'Y-m-d' }}" class="calendar-today"><button>dnes</button></a>
                <a href="?date={{ next_date|date:'Y-m-d' }}" class="calendar-arrow"><button>&#8594;</button></a>
            </div>
            <form method="get" class="date-picker-form" action="{% url 'home' %}">                
                <input type="date" name="date" value="{{ selected_date|date:'Y-m-d' }}" onchange="this.form.submit();">
            </form>
        </header>
        
        {% if feast_songs %}
            {% for item in feast_songs %}
                <div class="feast-info">
                    <h3>{{ item.feast.name }}</h3>
                    
                    <ul class="songs-list">
                        {% if item.specific_songs %}
                            {% for song in item.specific_songs %}
                                <li>
                                    <div class="song-pod">
                                        <div class="song-icon triangle">▲</div>
                                        {{ song.number }}: {{ song.title }}
                                    </div>
                                </li>
                            {% empty %}
                                <li>K tomuto státku není určena žádná píseň.</li>
                            {% endfor %}
                        {% endif %}

                        {% if item.type_songs %}
                            {% if item.is_virgin_mary_feast %}
                                <li>
                                    <div class="song-pod">
                                        <div class="song-icon square">■</div>
                                        mariánské písně z oddílu 800
                                    </div>
                                </li>
                            {% elif item.is_jesus_christ_feast %}
                                <li>
                                    <div class="song-pod">
                                        <div class="song-icon square">■</div>
                                        písně z oddílu 700
                                    </div>
                                </li>
                            {% else %}
                                {% for song in item.type_songs %}
                                    <li>
                                        <div class="song-pod">
                                            <div class="song-icon square">■</div>
                                            {{ song.number }}: {{ song.title }}
                                        </div>
                                    </li>
                                {% empty %}
                                    <li>K tomuto typu státku není určena žádná píseň.</li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </ul>

                    {% if not item.specific_songs and not item.type_songs %}
                        <p class="empty-message">Žádné konkrétní doporučení.</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-message">Dnes nejsou žádné dostupné události.</p>

            <div class="default-songs">
                <ul>
                    {% for song in default_songs %}
                        <li>
                            <div class="song-pod">
                                <div class="song-icon full-dot">●</div>
                                {{ song.number }}: {{ song.title }}
                            </div>
                        </li>
                    {% empty %}
                        <li>Žádné výchozí písně nejsou dostupné.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div class="footer">
            <p>&copy; 2024 František Hluchník</p>
        </div>
    </div>
</body>
</html>
