/* Define color variables */
:root {
    --primary-color: #4B3621;
    --secondary-color: #6F4E37;
    --highlight-color: #E8D8C3;
    --bg-color-light: #F7F7F7;
    --bg-color-dark: #FDFBF6;
    --border-color: #D2B48C;
    --btn-bg-color: #6B4E31;
    --btn-bg-hover: #8C6748;
    --header-bg-color: #DEB887;
}

/* Global Styles */
body {
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
    background-color: var(--bg-color-light);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-y: scroll; /* Always show vertical scrollbar */
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
}

.nav-link:hover, .nav-link.active {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

/* Header */
header {
    text-align: center;
    background-color: var(--header-bg-color);
    padding: 20px;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 20px;
    border-radius: 8px;
}

h1 {
    color: var(--primary-color);
    font-size: 40px;
    margin: 0;
}

h4 {
    color: var(--secondary-color);
    font-size: 18px;
    margin: 5px 0 0;
}

/* Celebration Info */
.celebration-info {
    background-color: var(--bg-color-light);
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
}

.celebration-info h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.description-text {
    font-size: 0.9em;
    margin-bottom: 1em;
}

/* Celebration Details */
.celebration-details {
    margin-top: 10px;
    padding: 10px;
    border-left: 3px solid #ccc;
    overflow: hidden;
    max-height: 0px;
    visibility: hidden;
    transition: max-height 0.5s ease-out, visibility 0.5s;
}

.celebration-details.expanded {
    visibility: visible;
    max-height: 500px;
    transition: max-height 0.5s ease-out, visibility 0.5s;
}


.celebration-details ul {
    list-style: none;
    padding: 0;
}

.celebration-details li {
    padding: 5px 0;
}

.toggle-details {
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.toggle-details:hover {
    background-color: var(--btn-bg-hover);
}


/* Songs List */
.songs-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.songs-list li {
    background-color: var(--bg-color-light);
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.songs-list.detailed {
    display: block; /* Ensure block display for detailed list */
}

.songs-list .detailed li {
    padding: 15 px;
    display: block;
}

.songs-list .song-pod {
    display: flex;
    align-items: center;
    background-color: var(--highlight-color);
    padding: 5px 15px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);
    gap: 8px;
}

.songs-list .song-icon.square {
    background-color: transparent;
    content: "■";
}

.songs-list .song-icon.triangle {
    background-color: transparent;
    content: "▲";
}

.songs-list .song-icon.full-dot {
    background-color: transparent;
    content: "●";
}

/* Empty Message */
.empty-message {
    text-align: center;
    font-size: 18px;
    color: var(--secondary-color);
    margin-top: 20px;
}

/* Date Navigation */
.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
}

/* Date Picker Form */
.date-picker-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.date-picker-form input[type="date"] {
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
    width: 180px;
}

.date-picker-form input[type="date"]:focus {
    border-color: #333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.date-picker-form button {
    padding: 5px 19px;
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.date-picker-form button:hover {
    background-color: var(--btn-bg-hover);
}

/* Song Icons */
.song-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 12px;
}

.song-pod-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.linked:hover {
    background-color: var(--btn-bg-hover);
    color: white;
}

/* About Section */
.about {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.about h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.about p, .about ul {
    font-size: 1rem;
    color: #555;
}

.about ul {
    margin: 15px 0;
    padding-left: 20px;
}

.about ul li {
    margin-bottom: 8px;
}

.buy-me-a-coffee-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Footer */
.footer {
    text-align: center;
    font-size: 14px;
    color: var(--secondary-color);
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid var(--border-color);
}

.footer-contact {
    font-size: 0.85em;
    color: #666;
}

.footer-contact a {
    color: #666;
    text-decoration: none;
  }
  
.footer-contact a:hover {
text-decoration: underline;
color: #444;
}
